@use 'variables' as *;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: $main-font;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding-bottom: 150px;
}

header {
  text-align: center;
  padding: 42px 0 18px 0;
}

h1 {
  color: #D04F4F;
  font-family: $title-font;
  font-weight: 700;
  font-size: 3.6rem;
  margin: 0;
}
