@use 'variables' as *;

.search {
  display: flex;
  align-items: stretch;
  border: none;
  border-radius: 5px;
  padding-left: 24px;
  background-color: $lightgray;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    .search-icon {
      opacity: 0.7;
      margin: 18px;
    }
  }

  &-input {
    flex: 1 0 0;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    font-size: 1.8rem;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 5px;
  margin: 25px -10px 15px;
  > * {
    margin: 5px;
  }
}

.btn {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  padding: 9px 22px;
  font-size: 1.4rem;
  color: rgb(20, 20, 20);
  line-height: 2rem;
  cursor: pointer;

  &-gray {
    background-color: $lightgray;
  }
}

.filter {
  font-size: 1.4rem;
  color: white;
  border-radius: 5px;
  padding: 9px 22px;
  white-space: nowrap;
  cursor: default;

  &-label {
    /*
      Firefox: displaying .filter as a flexbox makes this .filter-label
      wider than it should be under certain circumstances, so we use this
      as a workaround for now.
    */
    display: inline-flex;
    transform: translateY(0.1rem);
  }

  .remove {
    vertical-align: middle;
    height: 2rem;
    padding: 0;
    margin-left: 13px;
    border-radius: 50%;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  &-red {
    background-color: $red;
  }
  &-green {
    background-color: $green;
  }
  &-blue {
    background-color: $blue;
  }
}

.dropdown {
  display: inline-flex;
  flex-flow: column nowrap;
  padding-left: 20px;
  font-size: 1.8rem;
  color: white;
  background-color: $blue;
  border-radius: 5px;
  overflow: hidden;

  &-red {
    background-color: $red;
  }
  &-green {
    background-color: $green;
  }
  &-blue {
    background-color: $blue;
  }

  + .dropdown {
    margin-left: 20px;
  }

  &-search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;

    &-input {
      width: auto;
      flex: 1 0 auto;
      color: inherit;
      background: transparent;
      border: none;
      box-shadow: none;
      outline: none;
      cursor: pointer;

      // Google Chrome.
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }

    button {
      height: 70px;
    }
  }

  &.expanded {
    .dropdown-search-input {
      cursor: text !important;
    }
    .list {
      display: flex;
      min-width: 40rem;
    }
  }

  .list {
    margin-right: -80px;
    padding-right: 40px;
    margin-bottom: 16px;
    display: flex;
    display: none;
    flex-flow: row wrap;
    max-width: 800px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;

    .item {
      min-width: 15rem;
      white-space: nowrap;
      flex: 0 0 33%;
      padding: 5px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }
}

.recipes {
  margin-top: 25px;
}

.recipe {
  flex: 0 0 380px;
  height: 370px;
  border-radius: 5px;
  overflow: hidden;
  background: #c7bebe;
  position: relative;
  &-body {
    margin-top: auto;
    height: 240px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #e7e7e7;
    display: flex;
    flex-flow: column nowrap;
  }
  &-header {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: middle;
    * {
      display: inline-block;
      margin: 0;
      font-size: inherit;
    }
  }
  &-time {
    font-weight: bold;
    white-space: nowrap;
    margin-left: 30px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
    }
    &-value {
      margin-left: 5px;
      &::after {
        content: ' min';
      }
    }
  }
  &-description {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.2rem;
    margin-top: 20px;
    overflow: hidden;
    * {
      flex: 1 0 0;
    }
  }
  &-ingredients {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    .ingredient {
      flex: 0 0;
      + .ingredient {
        margin-top: 2px;
      }
      &-name {
        font-weight: bold;
        &::after {
          content: ':';
          display: none;
        }
      }
      &.has-quantity {
        ::after {
          display: inline;
        }
      }
    }
  }
  &-steps {
    font-family: $body-font;
    flex: 1 0 40px;
    margin-left: 20px;
  }
}
