.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

#recipes {
  display: flex;
  flex-flow: row wrap;
  > * {
    // Left margin on all elements except the first of each row.
    margin-left: 50px;
    &:nth-child(3n + 1) {
      margin-left: 0;
    }
    // Top margin on all elements except the 3 first ones.
    &:nth-child(1n + 4) {
      margin-top: 50px;
    }
  }
}
